@{
    ViewData["Title"] = "Index";
}

<h3>Tag Helpers</h3>

<button-save></button-save>

@*<button type="submit" class="btn btn-outline-success">Kaydet <i class="fa fa-save"></i></button>*@

<generic-button icon-name="fas fa-times" name="Sil" class-name="btn btn-outline-danger"></generic-button>

<generic-button icon-name="fa fa-download" name="İndir" class-name="btn btn-outline-primary"></generic-button>

<generic-button icon-name="fa fa-download" class-name="btn btn-primary"></generic-button>